.input_box{
   /*  margin: 15px 0px; */
    max-width: 100%;
    input{
        border: none;
        background-color: $grey;
        padding: 15px 20px;
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        outline: none;
    }
}