.navigation{
    font-style: normal;
    font-weight: normal;
    height: 90px;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    &__links{
        display: flex;
        a{
            outline: none;
            padding: 20px 35px;
            color: $dark;
            font-weight: 500;
        }
    }
}


@media(max-width: 760px){
    .navigation{
       display: none;
        &__links{
            position: fixed;
            a{
                padding: 20px 35px;
                color: $dark;
                font-weight: 500;
            }
        }
    }
    
    
}