.offers{
    padding: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    .offers__title{
        font-size: 32px;
        text-align: center;
        margin-bottom: 60px;
    }
    .offers__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        flex-wrap: wrap;
        width: 70vw;
    }
}


@media(max-width: 1000px){
    .offers{
        padding: 30px;
        .offers__cards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
}


@media(max-width: 760px){
    .offers{
        padding: 20px;
        .offers__cards{
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: 1fr;
        }
    }
}