.social_icon{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 25px;
    background-color: $offwhite;
    color: $dark;
}

@media(max-width: 1264px){
    .social_icon{
        height: 45px;
        width: 45px;
        font-size: 22px;
    }
}